advanced-cache.php
index.php
sharebtns.png
/uploads/

/themes/*
!/themes/blogsixteen-child

/plugins/*
!/buddypress-bbpress-contributions-list
!/prismjs-mdb
!/social-media-shortcodes
!/untappd-checkins-widget